a{
    text-decoration: none;
    color: rgb(8, 97, 49);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    list-style: none;  
    text-decoration: none;
    margin-left: 100px;
}
.active{
    color:#5f99be;
}