*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0 2px 4px #e9c5;
  margin: 50px 0;
}

.img_div
{
  display: flex;
  justify-content: center;
}

.img_div img
{
  width: 250px;
  height: 300px;

}